/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2018, 7:30:21 PM
    Author     : 00140421
*/
body{
    background: #0D63B0;
}
#cabecera{
    font-family: Times New Roman;
    font-size: 30px;
    text-align: center;
    color:#000000;
    background: #0D63B0
}
ul li{
    list-style-type: none;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    font-family: calibri;
    background: #072f53;
    padding: 15px;
    border-radius: 30px;
}
#menu{
    text-align: center;
    color: #0D63B0
}
img{
    border-radius: 10px;
}
#izquierdo{
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    background: #0D63B0;
}
#cuerpo{
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    background: #0D63B0
}
#pie{
    background: #2E86C1;
    text-align: center;
    font-weight: bold;
}
form{
    margin: 0 auto;
    width:700px;
    background:;
    padding-box:5px;
    border-radius: 10px;
    text-align: center;
    color: #000000;
}
h1{
    text-align: center;
}
form{
    margin-bottom: 5px
}
label{
    font-family: Arial;
    width: 100px;
    text-align: right;
    display: inline;
}
input{
    width: 200px;
}
textArea{
    width: 400px;
    vertical-align: 
}
a{
     text-decoration: none;
}
a:hover{
    color:#E74C3C;
    font-size: 15px;
}
a:visited{
    color: #0D63B0;
}
#derecho{
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    background: #0D63B0;
}
